@font-face {
    font-family: 'FuturasMedium';
    src: url('../fuentes/FuturaStdMedium.otf') format('opentype');
    /* Ruta al archivo y formato */
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'FuturasMedium', sans-serif;
    min-height: 100vh;
    /* toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    /* header, main y footer en columna */
    margin: 0;
}

.buscadorbtn {
    color: #006087;
    background-color: #ffffff;
    border: 1px solid #006087;

}

.buscadorbtn:hover {
    background-color: #006087;
}

.navidiomas {
    background-color: #006087;

}

header {

    border-bottom: 3px solid #006087;
    margin: 0;
    padding: 0;
}



.nav-link {
    padding: 0 10px;
    /* Espaciado entre los enlaces */
}

.nav-link:hover {
    font-weight: bold;
}

.nav-list {
    text-decoration: none;
    font-size: 20px;
    color: #006087;
}

.nav-list:hover {
    font-weight: bold;
    color: #006087;
}

/* LANDING */
.body {
    margin: 0 auto;

}

.imglanding {
    background-image: url('../images/ayto_elche-5695.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
}




/* LOGIN */
.bodylogin {
    background-image: url('../images/palmeral-elche3-c-visitelche.avif') !important;
}

.bodylogin::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Color negro con opacidad */
    z-index: -1;
    /* Asegura que la capa de fondo esté detrás del contenido  */
}

/* CONTACTO */



.form-label {
    font-weight: bold;
}

.form-control {
    resize: none;
}

.pfooter {
    color: #ffffff;
}

/* BUSCADOR */



/* LISTADO COMERCIOS */

.btn-primary {
    background-color: #006087 !important;
    color: #ffffff !important;

}

.btn-primary:hover {
    background-color: #000000 !important;
    color: #ffffff !important;

}


/* */
.containerdetailcomercio {
    padding-bottom: 30px;
}

/* LISTAS */


/* ESTILO */
h2 {
    color: #006087;
    font-weight: bold;
}

.formulario {
    padding: 20px;
    margin: 20px;
    background-color: #BCBDC0;
    border-radius: 5%;
}

.btn-secondary {
    background-color: #57585A;
    border: none;

}

.btn-secondary:hover {
    background-color: #000000;
    border: none;

}

.btn-danger {
    background-color: #C41F32;
}

.btn-danger:hover {

    background-color: #000000;
}


.loginbtn {
    color: #006087;
    background-color: #ffffff;
    border: 0.5px solid #006087;

}

.loginbtn:hover {
    background-color: #006087;
    color: #ffffff;
}

.text-primary {
    color: #006087 !important;
}

.card-title {
    color: #006087;
}

h1 {
    color: #006087 !important;
}


@media (max-width: 599px) {

    /*HEADER*/
    h1 {
        font-size: 25px;
        text-align: center;
    }

    header .nav-link {
        font-size: 13px;
    }

    /*MAIN*/
    .imglanding a.btn {
        font-size: 14px;
        padding: 10px 18px;
    }

    #about p {
        font-size: 0.8rem;
    }

    /*LOGIN */
    .containerlogin {
        padding-left: 30px;
        padding-right: 30px;
    }

    .col-md-4 {
        padding: 15px;

    }

    .text-login {
        font-size: 24px;
    }

    .loginbtn {
        font-size: 14px;
        padding: 10px;
    }

    .form-label {
        font-size: 12px;

    }

    .form-control {
        font-size: 14px;

    }

    .col-md-4 {
        padding: 15px;

    }

    /*LISTA COM*/
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }

    p {
        font-size: 14px;
    }

    .card {
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;

    }

    .card-img-top {
        height: 150px;
        /* Ajustar altura de imágenes */
        object-fit: cover;
        /* Imagen ajustada sin deformarse */
    }

    .card-body a {
        font-size: 16px;
    }

    .card-text {
        font-size: 13px;
    }

    /*DETAIL*/
    .containerdetailcomercio {
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        font-size: 22px;
    }

    .img-fluid {
        width: 100%;
        /* Ocupa todo el ancho del contenedor */
        height: auto;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
        margin-bottom: 8px;
    }


    .embed-responsive {
        height: 200px;
        overflow: hidden;
        margin: 20px;
    }

    iframe {
        width: 100%;
        /* Ocupa todo el ancho */
        height: 100%;
        /* Ajusta la altura */
    }

    /*LISTADO CATEGORIA, SUBCAT, CIUDAD..*/
    .table-responsive {
        overflow-x: auto;
    }

    .table {
        font-size: 12px;
    }

    .table th,
    .table td {
        padding: 6px;
    }

    .btn {
        font-size: 14px;
        padding: 4px 8px;
    }

    .btn-primary,
    .btn-danger {
        margin: 5px 0;
        width: 100%;
    }

    main .d-flex {
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 18px;
        text-align: center;
    }

    /*DELETE*/
    .containerdelete {
        padding: 15px;
        width: 100%;
        max-width: 400px;
    }

    .h2delete {
        font-size: 18px;
    }

    .pdelete {
        font-size: 14px;
    }

    .btndelete {
        font-size: 14px;
        padding: 6px 12px;
    }

    .btn-danger, .btn-primary {
        width: 100%;
        margin: 5px 0;
    }

    .d-flex {
        flex-direction: column;
    }

    /*CONTACTO*/
    .container {
        padding: 15px;
        width: 100%;
    }

    .h1contacto {
        font-size: 24px;
        text-align: center;
    }

    .pcontacto {
        font-size: 14px;
        text-align: center;
    }

    .form-label {
        font-size: 14px;
    }

    .form-control {
        font-size: 14px;
        padding: 8px;
    }

    .btncontacto {
        font-size: 16px;
        padding: 12px;
    }

    .row {
        margin-top: 20px;
    }

    .col-md-6 {
        width: 100%;
    }

    footer {
        padding: 10px;
    }

    footer a {
        font-size: 12px;
    }

    footer .text-center {
        font-size: 12px;
    }
    
    /*FOOTER*/
    footer {
        font-size: 12px;
    }

    footer a {
        font-size: 10px;
    }
}


